name: create s3 buckets

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  creating_buckets:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repositoriy
        uses: actions/checkout@v5

      - name: setup aws cred
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          role-to-assume: ${{secrets.IAM_ROLE}}
          aws-region: ${{secrets.AWS_REGION}}

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Initialize Terraform
        run: terraform init
        working-directory: terraform

      - name: Terraform plan
        run: terraform plan
        working-directory: terraform

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: terraform

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
        working-directory: terraform

      # - name: Uploading files to s3 bucket
      #   run: |
      #     BUCKET_NAME=$(terraform -chdir=terraform output -raw bucket_name)
      #     echo "Uploading files to S3 bucket: $BUCKET_NAME"
      #     aws s3 cp index.html s3://$BUCKET_NAME/

